body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

header, footer {
flex: 0 0 auto;
width: 100%;
padding: 20px;
box-sizing: border-box;
}

main {
    display: flex;
    flex-direction: row;
    flex: auto;
    width: 100%;
    gap: 20px;
    height: auto;
    box-sizing: border-box;
}

article {
    flex: 2;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

aside{
    flex: 1;
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}